<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index page</title>
    </head>
    <body>
        <h1>Hello from index!</h1>
        <form action="/search/" method="get">
            {% for field in fields %}
                {% if type(fields[field]) == list %}
                <label>
                    {{field}}
                    <select class="" name="{{field}}">
                        <option value="">None</option>
                        {% for entry in fields[field] %}
                        <option value="{{entry['id']}}">{{entry['name']}}</option>
                        {% end %}
                    </select><br>
                </label>
                {% else %}
                <label>
                    {{field}}
                    <input type="text" name="{{field}}" value=""><br>
                </label>
                {% end %}
            {% end %}
            <button type="submit">Search</button>
        </form>
    </body>
</html>
