<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index page</title>
    </head>
    <body>
        <h1>Hello from index!</h1>
        {% for field in fields %}
            {% if type(fields[field]) == list %}
            <select class="" name="">
                <option value="none">{{field}}</option>
                {% for entry in fields[field] %}
                <option value="option">option</option>
                {% end %}
            </select>
            {% else %}
            <input type="text" name="name" value="">
            {% end %}
        {% end %}
    </body>
</html>
